body {
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  color: khaki;
  font-weight: bold;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}

h2{
  font-size: 32px;
  color: white;
  font-weight: bold;
}

#mBrush {
  background-color: mediumspringgreen;
}

#mFrame {
  background-color: lightcoral;
}

#mPaint {
  background-color: skyblue;
}

.Price {
    color: blue;
    font-weight: bold;
}
